@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import "variables";

$primary-font: "Delius", cursive;


body {
    font-family: $primary-font;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 200%;
}

.current-filter {
    label {
        input {
            width: 30px;
            height: 30px;
            border: 2px solid var(--color-sky-300);
            appearance: none;
            cursor: pointer;
            position: relative;

            &:checked {
                border: 2px solid var(--color-sky-500);

                + span {
                    color: var(--color-sky-500);
                }
            }

            &:checked::before {
                content: '\2713';
                position: absolute;
                top: 20%;
                left: 60%;
                transform: translate(-50%, -50%);
                color: var(--color-sky-500);
                font-size: 40px;
            }
        }
    }
}
@keyframes highlight {
    0% { background-color: var(--color-sky-50); }
    25% { background-color: var(--color-sky-200); }
    50% { background-color: var(--color-sky-100); }
    75% { background-color: var(--color-sky-200); }
    100% { background-color: #fff; }
}

.animate-highlight {
    animation: highlight 10s ease-in-out;
}


